#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 2rem 0;
    font-size: 3rem;
}

.worksDesc{
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.worksimgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px; 
    transition: transform 0.3s ease; 
    gap:50px;
}

.worksimg:hover {
    transform: scale(1.1); 
}

.workitem {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}


.p1{
    margin-top: 10px;
    margin-top: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.p1:hover {
    background-color: #0056b3;
}
.p2{
    margin-top: 10px;
    margin-top: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.p2:hover {
    background-color: #0056b3;
}
.p2{
    margin-top: 10px;
    margin-top: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.p2:hover {
    background-color: #0056b3;
}

.worksimg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    width: 20rem;

}